* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.logo {
  height: 20px;
}

.button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.bg-none {
  background: none;
}

.search-box {
  height: 40px;
  display: flex;
  margin-right: 8px;
}

.search-box > * {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.search-input {
  padding: 2px 6px;
  height: 40px;
  border-right: none;
}

.search-input:focus {
  border: 1px solid rgb(28, 98, 185);
  outline: none;
}

.search-button {
  width: 64px;
  height: 40px;
  border-radius: 0;
}

.icon {
  height: 24px;
  width: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 56px;
  padding: 0 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.right,
.middle,
.left {
  display: flex;
  align-items: center;
}

.right > .button:last-child > img {
  height: 100%;
}

.mic-button {
  background-color: #f9f9f9;
}

.avatar {
  border-radius: 50%;
}

.left {
  width: 120px;
  position: relative;
}

.location {
  color: #606060;
  font-size: 10px;
  position: absolute;
  top: 15px;
  right: 10px;
}
